.hero-section {
    background-color: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    background-color: #4d5ae5;
    font-family: inherit;
    /* Наслідує Roboto від body */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

/* Зміна стану кнопки при наведенні та фокусі клавіатурою */
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}